html, body, #map, #container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #666666;
}

h3 {
    font-size: 20px;
    font-weight: 200;
    color: #666666;
}

h4 {
    color: rgb(45, 45, 45);
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin: 10px 0px 10px 10px;
}

#infoContainer {
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    top: 10px;
    right: 10px;
    height: 50px;
    width: 400px;
}

#estimate {
    position: absolute;
    top: 90px;
    right: 0px;
    padding: 0px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 1);
    height: 80pt;
    width: 400px;
    visibility: hidden;
}

.content {
    position: absolute;
    top: 160px;
    right: 0px;
    padding: 0px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 1);
    height: 200pt;
    width: 400px;
}

.advanced {
    cursor: pointer;
    font-size: 10px;
}

p {
    padding: 5px 0;
}

button {
    background-color: #80c757;
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 150px;
    margin-left: 140px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Open Sans Bold', sans-serif;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
}

button:hover {
    background-color: #598b3c;
}

.the-box {
    background: #fabfab;
    padding: 10px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.arrow_box {
    position: absolute;
    top: 87px;
    left: 74px;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:before {
    border-right-color: rgba(255, 255, 255, 0.9);
    border-width: 20px;
    margin-top: -20px;
}
