<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <!-- Title -->
    <title>CSFS Harvest Costs</title>

    <!-- Stylesheet -->
    <link rel='stylesheet' href='static/style/style.css' />

    <!-- Libraries -->
    <script src="/static/libraries/jquery-1.11.1.min.js"></script>

    <script src="/static/libraries/simple-expand.min.js"></script>

    <script src="/static/libraries/leaflet.js"></script>
    <link rel='stylesheet' href="/static/libraries/leaflet.css" />

    <script src="/static/libraries/leaflet.draw.js"></script>
    <link rel='stylesheet' href="/static/libraries/leaflet.draw.css" />

    <script src="/static/libraries/terraformer.min.js" type="text/javascript"></script>
    <script src="/static/libraries/terraformer-wkt-parser.min.js" type="text/javascript"></script>


    <!-- Data -->
    <script src="/static/data/csf.geojson"></script>

</head>

<body>
    <div id="container">
        <div id="map"></div>
        <div id="infoSign" class="the-box arrow_box">Start digitizing a stand</div>
        <div id="infoContainer">

            <h3>CSFS Harvest Costs</h3>
            <a style="color:#636363;text-decoration: none;position:absolute;top:20px;right:25px" href="mailto:ustroetz@gmail.com?Subject=CSFS%20Harvest%20Costs">Contact</a>	
 <div id='legend'>
                   <h4>Harvest Cost ($/ton) </h4>

  <nav class='legend clearfix'>

    <span style='background:#1a9641;'></span>
    <span style='background:#c3e586;'></span>
    <span style='background:#fdc980;'></span>
    <span style='background:#d7191c;'></span>
    <span style='background:"transpaernt";'></span>
    <label>< 30 </label>
    <label>30 - 40 </label>
    <label>40 - 50 </label>
    <label>< 50</label>

</div>
            <div id="estimate">
                <h4 id="text_estimated_cost"></h4>
                <table style="margin-left:30px">
                    <tr>
                        <td style="width:143px">Cost</td>
                        <td id="estimated_cost"></td>
                    </tr>
                </table>
                <br>
                <button onclick="this.style.visibility = 'hidden';" id="expander" href="#">&#9660; Detailed Calculation</a>
            </div>


            <div class="content">
                <h4>Harvest Cost Calculation</h4>
                <table style="margin-left:30px">
                    <tr>
                        <td style="width:143px">Trees per Acre</td>
                        <td>
                            <input type="range" min="10" max="1000" step="10" value="300" onchange="TPA.value=value"></input>
                            <output id="TPA">300</output>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:143px">Volume per Acre</td>
                        <td>
                            <input type="range" min="1000" max="10000" step="100" value="4000" onchange="VPA.value=value"></input>
                            <output id="VPA">4000</output>
                            <output>ft³</output>
                        </td>
                    </tr>
                </table>
                <br/>
                <button id="calculate" onclick="calculate();" style="display:block;">Calculate</button>
                <table id="spatial_var" style="margin-left:30px"></table>
                <br/>
                <button id="recalculate" onclick="calculate();" style="display:none;">Recalculate</button>
            </div>
        </div>
    </div>

    <script src="/static/scripts/site.js"></script>
</body>
</html>
